permissions:
  contents: read
on:
  pull_request:

jobs:
  secret_scanning:
    name: Secret Scanning
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Secret Scanning Trufflehog
      uses: trufflesecurity/trufflehog@f1ccb3979760ac13b571361ec2a2c401b9b864c6 # main